* {
  /* border: solid 1px red; */
}

body {
  background-color: #f9faf8;
  font-family: "Roboto", "Arial", "Verdana", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 982px;
  margin-inline: auto;
}

.nav {
  background-color: #1f2937;
  padding-block: 20px;
}

.nav .container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  display: flex;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 100;
}

.header-links div {
  padding: 10px;
  cursor: pointer;
}

.hero {
  background-color: #1f2937;
  padding: 5rem;
}

.hero .container {
  display: flex;
  
}

.hero h1 {
  color: #f9faf8;
  font-size: 48px;
  margin: 0;
}

.hero p {
  color: #e5e7eb;
  font-weight: 100;
  margin: 0;
}

.image {
  background-color: darkgray;
  width: 700px;
  max-height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image p {
  font-weight: 400;
}

.hero button {
  background-color: #3882f6;
  color: #f9faf8;
  margin-block: 15px;
  font-weight: bold;
  font-size: medium;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.info-section {
  background-color: #f9faf8;
  padding-top: 20px;
  padding-bottom: 30px;
}

.info-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.card-image {
  border: 5px solid #3882f6;
  border-radius: 20px;
  width: 150px;
  height: 150px;
}

.card-text {
  color: gray;
  font-weight: 200;
  text-align: center;
  justify-content: center;
  padding: 1rem;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 7rem;
}

.quote-section .container {
  width: 824px;
}

.quote-section .quote {
  font-size: 38px;
  font-style: oblique;
  text-align: justify;
  color: #1f2937;
  font-weight: 100;
  margin: 0;
}

.quote-author {
  text-align: end;
  margin: 0;
  margin-top: 5px;
  font-weight: bold;
  font-size: 24px;
}

.call-to-action-section {
  width: 1000px;
  margin-inline: auto;
  padding: 5rem;
}

.call-to-action-banner {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
}

.call-to-action-banner .left {
  width: 500px;
  /* border: 1px solid lime; */
}

.call-to-action-banner .left h2 {
  margin: 0;
}

.call-to-action-banner .left p {
  margin: 0;
}

.call-to-action-banner .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.call-to-action-banner .right button {
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  color: #f9faf8;
  font-size: large;
  border-radius: 10px;
  padding-block: 10px;
  padding-inline: 24px;
  cursor: pointer;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 1rem;
}